#page-header {
    --mark-bg: auto;
    opacity: 0.8;
}

#web_bg {
}
#web_bg:before {
    background-color: rgba(0,0,0,0) !important;
}

#recent-posts > .recent-post-item {
    background-color: rgba(0,0,0,0.2);
}

#recent-posts > .recent-post-item .post-bg{
    opacity: 0.8;
}

#aside-content .card-widget {
    background-color: rgba(0,0,0,0.2);
}

#aside-content .aside-list > .aside-list-item img {
    opacity: 0.6;
}

#aside-content .card-widget .avatar-img img{
    opacity:0.8
}
#aside-content .card-widget .avatar-img img:hover {
    opacity: 1;
}

#footer {
    opacity: 0.8;
}