#page-header {
    --mark-bg: auto;
}

#web_bg {
    /* background-image: url(https://voidtem.github.io/img/1_style_v4_common_main_bg_v4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}